*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_body{
    height: 100vh;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    background-image:linear-gradient( to left, rgba(6, 115, 143, 0.808), rgba(10, 151, 109, 0.835)) ;
}
.menu_card{
    height: 40vh;
    width: 25vh;
    border: none;
    /* border: 1px solid gray; */
    background-color: rgb(212, 253, 251);
    border-radius: 10px;
    box-shadow: 1px 5px 80px 20px grey;
}
.headding{
    height: 100px;
    width: 100%;
}
.h1{
    height: 50px;
    width: 100%;
    font-size: 28px;
    font-weight: 900;
    color: snow;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 5px rgb(255, 0, 0);
    border-radius: 10px;
    background-color: rgb(148, 150, 151);
}
.input_fild{
    margin-top: 10px;
    font-size: 15px;
    height: 30px;
    width: 60%;
    text-align: center;
    font-weight: 900;
    outline: none;
    border: none;
    border-bottom: 3px solid orange;
    background: transparent;
}
.button{
    margin-top: 10px;
    font-size: 15px;
    height: 30px;
    width: 30px;
    margin-left: 20px;
    text-align: center;
    font-weight: 900;
    color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    background: rgb(129, 60, 240);
    transition: all 0.2s linear;
}
.button:hover{
    background: rgb(33, 194, 68);
}

ol li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    text-transform:capitalize;
}
.item_style{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    padding-top: 10px;
}
i{
    background-color: rgb(139, 74, 243);
    height: 16px;
    width: 16px;
    color: white;
    border-radius: 50%;
    transition: all 0.2s linear;
    cursor: pointer;
}
i:hover{
    background-color: rgb(255, 0, 0);

}